.grid-author{
    display: grid;
    column-gap: 1.5em;
    grid-template-columns: repeat(3, 1fr);
    height:max-content;
    margin-top: 2rem;
}

.box-author{
    position: relative;
    box-shadow: 6px -2px 21px 0px #777;
    height: min-content;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 0;
}
.box-author::before {
    height: 68%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    background: #82abfa;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 42%);
    
}

.box-author:nth-child(odd)::before {
    background: #82abfa;
}
.box-author:nth-child(even)::before {
    background-color: #eb5a6e;
}
   
.name-author{
    display: flex;
    justify-content: right;
    margin-right: 2rem;
    font-weight: bolder;
    font-size: 1.7rem;
}

.bio {
    // display: flex;
    margin-left: 7rem;
    width: 63%;
}

.link {
    text-decoration: none;
    color: black;
}