.header {
    font-family: 'PT Serif';
    font-style: bold;
    margin-left: 26rem;
}

.fa-quote-right:before {
    content: "\f10e";
    border-radius: 1px red;
    border: 1px solid #ff145b;
    padding: 1rem;
    background: #ff145b;
    border-radius: 3rem;
    color: white;
}