.random-QA{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
 .btn{
    font-family:  'Montserrat';
    font-weight: bold;
    border: none;
    background: white;
    font-size: 2rem;
 }